@font-face {
    font-family: 'Jockey One';
    src: url('../Asset/font/JockeyOne-Regular.ttf') format('truetype');
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Jockey One';
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0vw;
    width: 100%;
    height: 100vh;
    min-height: 80vw;
    margin: 0;
    background-color: #302823;
}

ul {
    list-style: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4vw;
    z-index: 1;
}

.class-description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    height: 40vw;
}

.class-description img{
    width: 40vw;
    border-radius: 2vw;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    color: #fff;
    letter-spacing: 1.618px;
    width: 45%;
    height: fit-content;
}

.description h1{
    font-size: 5vw;
    letter-spacing: 3.618px;
    margin: 0;
}

.description #desc{
    font-size: 1.6vw;
    margin: 0;
}

.story-title{
    color: white;
    letter-spacing: 0.5vw;
    font-size: 3vw;
    margin-top: 5vw;
}

.bunder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bunder ul{
    display: flex;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.isi-biji::before {
    content: "";
    position: absolute;
    width: 20vw;
    height: 0.4vw;
    background-color: #D9D9D9;
    pointer-events: none; /* Ensures the element does not block clicks */
    z-index: -1;
    margin-inline: auto;
    border-radius: 3vw;
    left: -2.5vw;
}

.isi-biji{
    margin-inline: auto;
    position: relative;
    display: flex;  
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.biji{
    background-color: #D9D9D9;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bidji{
    background-color: #784747;
    border: 0.5vw solid #D9D9D9;
    height: 2.168vw;
    width: 2.168vw;
    border-radius: 100%;
    transition: all 0.3s ease;
    /* transform: translateY(-0.5vw); */
}

@media (max-width: 1024px) {
    body{
        min-height: 215vw;
        gap: 10vw;
    }
    
    .container{
        gap: 10vw;
    }
    
    .class-description{
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        height: 100vw;
    }
    
    .class-description img{
        width: 60%;
        border-radius: 3vw;
    }
    
    .description{
        width: 70%;
        gap: 4vw;
    }

    .description h1{
        font-size: 8vw;
    }

    .description #desc{
        font-size: 3vw;
    }

    .isi-biji{
        /* width: ; */
        gap: 4vw;
    }

    .isi-biji::before{
        width: 100%;
    }

    .biji{
        width: 4vw;
        height: 4vw;
    }

    .bidji{
        width: 4vw;
        height: 4vw;
        border: 0.75vw solid #D9D9D9;
    }
}

