    @font-face {
        font-family: 'Jockey One';
        src: url('../font/JockeyOne-Regular.ttf') format('truetype');
    }

    body {
        font-family: 'Jockey One';
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8vw;
        width: 100%;
        min-height: 75vw;
        margin: 0;
        background-color: #302823;
    }

    ul {
        list-style: none;
    }

    .class-page{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10vw;
    }

    #gambar-elemen{
        width: 100%;
    }

    .class-description {
        display: flex;
        justify-content: center;
        gap: 5vw;
        height: 35vw;
    }

    .image {
        display: flex;
        align-items: center;
        text-align: center;
        width: 35%;
        justify-content: center;
    }

    .description {
        display: flex;
        flex-direction: column;
        gap: 3vw;
        color: #fff;
        letter-spacing: 1.618px;
        text-align: center;
        width: 40%;
        transform: translateY(2vw);
    }

    .description h1{
        font-size: 5vw;
        letter-spacing: 3.618px;
        margin: 0;
    }

    .description #desc{
        font-size: 1.6vw;
        margin: 0;
    }

    .element{
        display: flex;
        justify-content: center;
        gap: 2.5vw;
        transition: all 1s ease-out;
        padding: 0;
        margin: 0;
    }

    .element li{
        cursor: pointer;
        justify-content: center;
    }

    .element img{
        justify-content: center;
        transition: all 0.3s ease-out;
        width: 6vw;
    }

    .element img.clicked {
        transform: scale(1.168) translateY(-1rem);
        border-radius: 255px;
        border: 3px solid #FFC369;
    }

    .element img:hover{
        transform: scale(1.01) translateY(-0.618rem);
    }

    @media (max-width: 1024px) {
        body{
            min-height: 150vw;
            gap: 10vw;
        }

        .image{
            width: 50%;
        }

        .class-page{
            height: 150vw;
            gap: 18vw;
        }
        
        .class-description{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 110vw;  
        }

        .description{
            width: 70%;
            gap: 4vw;
        }

        .description h1{
            font-size: 8vw;
        }

        .description #desc{
            font-size: 3vw;
        }

        .element{
            gap: 4vw;
        }

        .element img{
            width: 12vw;
        }
    }

